#adminPanelPage #admin-panel-title
{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background-color: var(--companyBlue);
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
#adminPanelPage .admin-box
{
    color: white;
}
#adminPanelPage #admin-panel-container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}
#adminPanelPage .admin-box
{
    background-color: var(--companyBlue);
    width: 40dvw;
    height: 70dvh;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    overflow: hidden;
}
#adminPanelPage .admin-box-title
{
    color: white;
    text-align: center;
    padding: 0px;
    width: 100%;
    border: 2px solid white;
}
#adminPanelPage form
{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}
#adminPanelPage form input
{
    background-color: white;
    border: 0;
    border-radius: 0;
}
#adminPanelPage .add-product-label
{
    margin-block: 1rem;
    border-bottom: 1px solid white;
}
#adminPanelPage form textarea
{
    height: 4rem;
    width: 15dvw;
}
#adminPanelPage #drop-zone 
{
    width: 10dvw;
    height: 10dvh;
    border: 2px dashed white;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    margin-block: 1rem;
}
#adminPanelPage #add-image-admin
{
    background: 0;
    margin-right: -5rem;
}
#adminPanelPage h2
{
    border-bottom: 1px solid white;
}
#adminPanelPage #newsletter-members
{
    font-size: 2rem;
    line-height: 3rem;
    overflow-x: hidden;
}
#adminPanelPage #admin-chat-box
{
    background-color: white;
    max-width: 100%;
    height: 60%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#adminPanelPage #user-message
{
    align-self: flex-start;
    background-color: var(--companyBlue);
    color: white;
    max-width: 40%;
    max-height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
}
#adminPanelPage #send-message-box
{
    align-self: flex-end;
    display: flex;
    background-color: lightgrey;
    width: 100%;
}

#adminPanelPage #orders-list
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 60dvh;
    overflow: scroll;
}

#adminPanelPage .order
{
    background-color: #1e497a;
    border: 1px solid white;   
}

#adminPanelPage .order .orderItems
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: span 2;
}
#adminPanelPage .order .orderItem
{
    background-color: var(--companyBlue);
    width: 50%;
    border: 1px solid white;   
}
#adminPanelPage .infoTable
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.25rem;
    padding: 0.5rem;
}
#adminPanelPage .order p
{
    font-family: NexaLight;
}
