footer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 0;
    margin: 0;
    position: relative;
    width: 100%;
    background-color: var(--companyBlue);
    justify-content: space-between;
}

footer section
{
    margin-block: 2% 0.4%;
    width: 20%;
    overflow-wrap: break-word;
    color: white;
    padding: 2% 2% 1% 2%;
}

#footerLogo
{
    padding: 3%;
    height: auto;
    width: 75%;
}

footer h2
{
    padding: 5%;
}

footer p
{
    margin-top: 15%;
    padding: 3%;
}

footer ul
{
    list-style-type: none;
    padding: 5%;
}

footer li
{
    padding: 3% 0;
}

footer a
{
    text-decoration: none;
    color: #fff;
}

footer a:hover
{
    color: var(--companyOrange);
}

.socials1
{
    display: block;
    padding: 2%;
}

.socials1 > a
{
    margin: 3%;
}

.socials2
{
    display: none;
    padding: 2% 2% 5% 2%;
}

.socials2 > a
{
    margin: 1%;
}

/* Make a responsive footer for mobile view*/
@media (max-width: 768px) 
{
    footer
    {
        display: flex;
        flex-direction: column;
        position: static;
    }

    #footerLogo
    {
        padding: 8% 0 3% 0;
        height: auto;
        width: 50%;
    }

    footer > section
    {
        margin: 0%;
        width: 100%;
        overflow-wrap: break-word;
        color: white;
        padding: 0%;
        justify-content: center;
        text-align: center;
    }

    footer h2    
    {
        padding: 5%;
    }

    footer p
    {
        margin-top: 0%;
        padding: 5%;
    }

    footer ul
    {
        list-style-type: none;
        padding: 5%;
        padding-top: 0%;
    }

    .socials1
    {
        display: none;
    }

    .socials2
    {
        display: block;
    }
}