#header
{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 86px;
    width: 100%;
    padding: 1.25rem;
    top: 0;

    background-color: white;
}

#header .section
{
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 2rem;
}

.section.center
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

#header button
{
    all: unset;
    font-size: 1.25rem;
    width: fit-content;
    height: 100%;
}

#header .icon
{
    padding: 20% 0;
}