#header
{
    z-index: 2;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 86px;
    width: 100%;
    padding: 1.25rem 2.5rem;
    top: 0;
    background-color: white;
}

#header button
{
    fill: var(--companyBlue);
    opacity: 0.8;
}

#header button:hover
{
    opacity: 1;
}

#header .section
{
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 2rem;
    align-items: center;
}

#header .section.left button
{
    height: 100%;
}

#header .section.center
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

#header .section.center button
{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    color: var(--companyBlue);
    height: 25%;
    font-size: 1.25rem;
}

#header .section p
{
    font-family: NexaLight;
}