#item
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10%;
}

#item img
{
    grid-column: 1 / 2;
    width: 80%;
    height: 60vh;
}

#item #info > *
{
    padding-bottom: 5%;
    position: relative;
    right: 15%;
}

#item #info
{
    grid-column: 2 / 3;
}

#item #info p
{
    font-family: Nexa Light;
    font-weight: bolder;
    margin-right: 20%;
}

#price > *
{
    display: inline;
    padding-right: 5%;
}

#price h2:nth-child(2)
{
    color: rgb(129, 129, 129);
    text-decoration: line-through;
}

#item #info h1
{
    font-size: 30px;
}

#item #info h2
{
    font-size: 25px;
}

#info form button
{
    background: #f15b39;
    color: white;

    border: solid 2px white;
    border-radius: 2rem;

    padding: 1rem 2rem;
    font-size: 1rem;
}

#info form button:hover
{
    background: white;
    color: #f15b39;
    border: solid 2px #f15b39;
}

#success
{
    grid-column: 2;
    color: rgb(91, 231, 91);

    font-size: 1.4rem;

    text-align: start;
}