@font-face {
    font-family: 'NexaBold';
    src: url('../resources/Fonts/Nexa_Bold.otf') format('opentype');
}

@font-face {
    font-family: 'NexaLight';
    src: url('../resources/Fonts/Nexa_Light.otf') format('opentype');
}

:root
{
    --companyBlue: #1e407a;
    --companyGreen: #51b2a2;
    --companyPink: #e990b9;
    --companyOrange: #f15b39;
    --companyYellow: #fecd3e;
    --productWhite: #eeeeee;
    --productGrey: #cac6c6;
    --productMulti: #000000;
}

*
{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
    overflow: hidden;
    height: 100%;
    overscroll-behavior: none;
}

body
{
    cursor: default;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    font-family: "NexaLight";
}

body > hr
{
    display: none;
}

h1, h2, h3, h4, h5, h6, p
{
    font-family: "NexaBold";
    font-size: inherit;
}

img
{
    max-width: 100%;
    height: 100%;
}

button
{
    all: unset;
    /* make sure all buttons still change your cursor to hand while hovering. Even after all:unset */
    cursor: pointer !important;
}

#content
{
    min-height: 100vh;
}