@font-face {
    font-family: 'NexaBold';
    src: url('../resources/Fonts/Nexa_Bold.otf') format('opentype');
}

@font-face {
    font-family: 'NexaLight';
    src: url('../resources/Fonts/Nexa_Light.otf') format('opentype');
}

:root
{
    --companyBlue: #1e407a;
    --companyGreen: #51b2a2;
    --companyPink: #e990b9;
    --companyOrange: #f15b39;
    --companyYellow: #fecd3e;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: NexaLight;
}