#navLinks > form
{
    display: flex;
    gap: 1rem;
    background-color: white;
    padding: 0 12rem;
    vertical-align: middle;
}

#navLinks > form > button
{
    margin: 0.75rem 0;
}

#navLinks > form > img
{
    margin: auto 0;
    height: 15px;
}