#offerButton
{
    /* z-index is for the layers. If the z-index 2 will overlap z-index 1(default) */
    z-index: 1; 
    padding: 2em;
    right: 0;
    position: fixed;
}

#offerPopup
{
    cursor: default;
    display: none;
    top: 30%;
    left: 35%;
    position: fixed;
    z-index: 2; 
    width: 30em;
    height: 22em;
    padding: 2em;
    background-color: var(--companyBlue);
    border: 0.6em solid var(--companyGreen);
    border-radius: 2em;
    text-align: center;
    color: #fff;
}

#offerPopup > h1
{
    font-size: 3em;
}

#offerPopup > h2
{
    padding: 0.5em;
    font-size: 2em;
}

#offerPopup button
{
    padding: 1em 2em 1em 2em;
    border-radius: 1em;
    background-color: var(--companyOrange);
    border: 3px solid var(--companyOrange);
    font-size: 1.5em;
    color: #fff;
}

#offerPopup button:hover
{
    background-color: #fff;
    color: var(--companyOrange);
}

/* Defining all the animations */
.pulseAnimation
{
    animation: pulse 2s ease infinite;
}

.fadeInAnimation
{
    animation: scaleUp 1s ease 1;
}

.fadeOutAnimation
{
    animation: scaleDown 1s ease 1;
}

#offerButton:hover
{
    animation: shake 1s ease infinite;
}

/* Making all the animations keyframes*/
@keyframes shake 
{
    0%
    {
        transform: translate(1px, 1px) rotate(0deg);
    }
    
    10%
    {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    
    20%
    {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    
    30%
    {
        transform: translate(3px, 2px) rotate(0deg);
    }
    
    40%
    {
        transform: translate(1px, -1px) rotate(1deg);
    }
    
    50%
    {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    
    60%
    {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    
    70%
    {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    
    80%
    {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    
    90%
    {
        transform: translate(1px, 2px) rotate(0deg);
    }
    
    100%
    {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* Creating the keyframes that scale the size of the button */
@keyframes pulse
{
    0%
    {
        transform: scale3d(1, 1, 1);
    }

    50%
    {
        transform: scale3d(1.5, 1.5, 1.5);
    }

    100%
    {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes scaleUp 
{
    0%
    {
	transform: scale(0);
    }

    100%
    {
	transform: scale(1);
    }
}

@keyframes scaleDown 
{
    0%
    {
        transform: scale(1);
    }

    100%
    {
        transform: scale(0);
    }
}