#container
{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

aside
{
    grid-column: 1 / 2;
    
}

main
{
    grid-column: 2 / 3;
}

.categories
{
    border-style: dashed;
    border-radius: 5px;
}